.tabs {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .tabs button {
    background-color: #282c34;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .tabs button.active {
    background-color: #61dafb;
  }
  
  .tabs button:hover {
    background-color: #21a1f1;
  }
  